# Dependencies
node_modules
.pnpm-store

# Build
.next
dist
.turbo
out

# Env
.env
.env.local
.env.*.local

# IDE
.idea
.vscode
*.swp
*.swo
.DS_Store

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Prisma
apps/api/prisma/migrations/**/migration_lock.toml

# Misc
*.tsbuildinfo
coverage
.vercel
